<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> 
  is the guide for my first web applicaton.
  This is my sample application for the tutorial.
</p>
